/***************************** INTRO *****************************/

#MAIN_homestat section:first-of-type a,
#MAIN_homestat section:last-of-type header a {
	color:white;
}
#MAIN_homestat section:first-of-type a:hover,
#MAIN_homestat section:last-of-type header a:hover {
	color:#213D6D;
}


#MAIN_homestat section:first-of-type {
	background-color:#00B2E8;/*#5CB7DC;*/
	color:white;
	padding:15pt;
}
#MAIN_homestat section:first-of-type h1 {
	line-height:1.2em;
	font-size:1.7em;
	margin-top:0px;
}
#MAIN_homestat section:first-of-type time {
	white-space:nowrap;
}
#MAIN_homestat section:first-of-type p {
	line-height:1.4em;
	font-size:0.9em;
	margin-bottom:0px;
}


/***************************** MAP *****************************/

#MAIN_homestat #SECTION_map {
	height: 35vh;
	min-height: 400px;
	width:100%;
}


/***************************** STATS *****************************/

#SECTION_statsMobile > article {
	margin-bottom:2em;
	color:white;
}
	#SECTION_statsMobile > article > * {
		line-height:1.2em;
	}

	#SECTION_statsMobile > article > div {
		padding:10pt;
		font-size:0.9em;
	}

	#SECTION_statsMobile > article > div > h1 {
		margin-top:.4em;
		margin-bottom:0px;
		font-size:2.4em;
	}
	#SECTION_statsMobile > article > div > h2:first-of-type {
		margin-bottom:.2em;
	}
	#SECTION_statsMobile > article h2 {
		margin-top:0px;
		font-size:1.1em;
	}

	
#SECTION_statsMobile > article > * {
	border-bottom:1px solid white;
}
#SECTION_statsMobile > article > header {
	background-color:#00B2E8;/*#5CB7DC;*/
}
#SECTION_statsMobile > article > * > div,
#SECTION_statsMobile > article:last-of-type > header {
	padding:15pt;
}
#SECTION_statsMobile > article:last-of-type h2 {
	margin-bottom:0px;
}
#SECTION_statsMobile > article:last-of-type h3 {
	margin-top:0px;
	font-size:1.3em;
}

/*background colors*/
#SECTION_statsMobile > article > div:nth-of-type(1) {
	background-color:#2F2279;
}
#SECTION_statsMobile > article > div:nth-of-type(2) {
	background-color:#00B2E8;/*#5CB7DC;*/
}
#SECTION_statsMobile > article > div:nth-of-type(3) {
	background-color:#F8B61E;
}